{%- assign i18n = site.data.i18n -%}
{%- assign char = site.data.chars[include.character] -%}
{%- assign teaser = site.data.teaser -%}
<!DOCTYPE html>
<html lang="{{ site.active_lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="title" content="{{ char.character }} • Caracteres">
    <meta name="description" content="{{ char.description }}">
    <meta name="theme-color" content="{{ char.theme.color }}">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/images/favicon.png">
    <link rel="manifest" href="{{ site.url }}/manifest-{{ include.character }}.json">

    <!-- Twitter meta tags, missing: `twitter:site` -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ char.character }} • Caracteres">
    <meta name="twitter:description" content="{{ char.description }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/images/{{ char.theme.class }}-thumbnail.png">

    <!-- Open Graph (Facebook) meta tags -->
    <meta property="og:title" content="{{ char.character }} • Caracteres">
    <meta property="og:type" content="article">
    {%- if site.active_lang == site.default_lang -%}
    <meta property="og:url" content="{{ site.url }}/{{ char.permalink }}">
    {%- else -%}
    <meta property="og:url" content="{{ site.url }}/{{ site.active_lang }}/{{ char.permalink }}">
    {%- endif -%}
    <meta property="og:image" content="{{ site.url }}/assets/images/{{ char.theme.class }}-thumbnail.png">

    <title>{{ char.character }} • Caracteres</title>

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,700" rel="stylesheet">
    <link href="{{ site.url }}/assets/main.css" rel="stylesheet">

    <script>
      var Globals = {
        languages: {{ char.speechSynthesis.languages | jsonify }},
        bodyClass: 'body--{{ char.theme.class }}'
      };
    </script>

    {%- include google-analytics.html -%}
  </head>
  <body class="body--{{ char.theme.class }}" id="caracteres">
    {%- include tabs.html -%}

    <div class="container">
      <div class="languages">
        {%- for lang in site.languages -%}
        {%- if lang != site.active_lang -%}
        {%- if lang == site.default_lang -%}
        <!-- The space at the beginning of href is needed for the proper link to be rendered. -->
        <a href=" {{ site.url }}/{{ char.permalink }}"
           class="btn btn--uppercase btn--padded" data-proofer-ignore>
          {{ i18n.languages[lang] }}</a>
        {%- else -%}
        <a href="{{ site.url }}/{{ lang }}/{{ char.permalink }}"
           class="btn btn--uppercase btn--padded">{{ i18n.languages[lang] }}</a>
        {%- endif -%}
        {%- endif -%}
        {%- endfor -%}
      </div>

      <h1 class="main-character">{{ char.character }}</h1>

      <section class="intro">
        {% for explanation in char.explanationItems %}
        <p class="explanation">{{ explanation }}</p>
        {% endfor %}
      </section>

    {%- if include.character == "enye" -%}
    </div>
    {%- include teaser.html -%}
    <div class="container">
    {%- endif -%}

      {% assign exampleCharacterTemplate = '<b class="example__character">__CHAR__</b>' %}
      {% assign exampleCharacter = exampleCharacterTemplate | replace:'__CHAR__',char.character %}
      {% for example in char.examples %}
      <section class="example">
        <h2 class="example__original">
          {{ example.word | replace:char.character,exampleCharacter }}
        </h2>
        <button class="example__action btn btn--uppercase btn--padded"
                data-speak="{{ example.word }}">{{ i18n.examples.listen }}</button>
        {%- if example.translation -%}
        <p class="example__translation">{{ example.translation }}</p>
        {%- else if example.translations -%}
        <ul class="example__translation-list">
          {% for translation in example.translations %}
          <li class="example__translation">{{ translation }}</li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
      </section>
      {% endfor %}

      {%- if char.codes -%}
      <ul class="code-list">
        {% for code in char.codes %}
        <li class="code"><code>{{ code }}</code></li>
        {% endfor %}
      </ul>
      {%- endif -%}

      {%- if char.keyboard -%}
      <section class="keyboard">
        {% for rawRow in char.keyboard %}
        {% assign row = rawRow | split:" " %}
        <div class="keyboard__row keyboard__row--{{ forloop.index0 }}">
          {%- for charEntry in row -%}
          <span class="keyboard__key {% if charEntry == char.character %}keyboard__character{% endif %}">{{ charEntry }}</span>
          {%- endfor -%}
        </div>
        {% endfor %}
      </section>
      {%- endif -%}

      {%- if char.shortcuts -%}
      <section class="key-shortcuts">
        {% for shortcut in char.shortcuts %}
        <p>{{ shortcut }}</p>
        {% endfor %}
      </section>
      {%- endif -%}

      {%- if char.alphabet -%}
      <table class="alphabet">
        <tbody>
          <tr>
            {% assign alphabet = char.alphabet.entries | split:" " %}
            {% for charEntry in alphabet %}
            <td class="alphabet__entry">
              {%- if charEntry == char.character -%}
              <b class="alphabet__character"
                 data-balloon="#{{ char.alphabet.position }}"
                 data-balloon-visible data-balloon-pos="down">{{ charEntry }}</b>
              {%- else -%}
              {{ charEntry }}
              {%- endif -%}
            </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      {%- endif -%}

      {%- if char.frequency -%}
      {%- assign sortedFrequency = char.frequency | sort:'percentage' | reverse -%}
      <table class="frequencies">
        <tbody>
          <tr>
            {% for charEntry in sortedFrequency %}
            <td class="frequencies__bar-container
                       {% if charEntry.letter == char.character %}frequencies__bar-container--character{% endif %}">
              <div class="frequencies__bar-legend">{{ charEntry.percentage }}%</div>
              <div class="frequencies__bar"
                   style="height: {{ charEntry.percentage | times:10 | ceil }}px;">
                &nbsp;
              </div>
            </td>
            {% endfor %}
          </tr>
          <tr>
            {% for charEntry in sortedFrequency %}
            <td class="frequencies__letter
                       {% if charEntry.letter == char.character %}frequencies__letter--character{% endif %}"
                {% if charEntry.letter == char.character %}
                data-balloon="{{ i18n.frequencies.frequency }} {{ charEntry.percentage }}%"
                data-balloon-visible data-balloon-pos="down"
                {% endif %}>
              {{ charEntry.letter }}
            </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      {%- endif -%}
    </div>

    <pre id="console" class="console"></pre>

    {%- include footer.html -%}

    <script src="{{ site.url }}/assets/main.js"></script>
  </body>
</html>
