<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111010903-1"></script>
<script>
  if (isDebugMode()) {
    console.log('Google Analytics configuration ignored');
  } else {
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-111010903-1');
  }

  function isDebugMode() {
    if(!/caracteres\.io/.test(window.location.hostname)) {
      console.log('Entering debug mode because of hostname.');
      return true;
    }

    if (FeatureDetection.hasLocalStorage() && localStorage.getItem('debugMode') === 'true') {
      console.log('Entering debug mode because of `debugMode` localStorage item.');
      return true;
    }

    return false;
  }
</script>
