.btn {
  font-size: 1.25em;
  font-weight: 300;
  padding: .25em .5em;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: .25em;
  margin-bottom: .5em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  &--uppercase {
    text-transform: uppercase;
  }

  &--padded {
    padding: .5em .75em;
  }
}
