.chocolate {
  margin-top: 1.5rem;

  &__h1, &__h2 {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    margin: 0;
  }

  &__h1 {
    font-size: 3rem;
  }

  &__h2 {
    font-size: 2rem;
    margin-bottom: .5rem;
  }

  &__intro, &__language, &__action {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: .03125rem;
  }

  &__intro {
    font-size: 1.5rem;
  }

  &__language {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;

    &--large {
      font-size: 1.875rem;
    }
  }

  &__entry {
    margin-bottom: 2rem;
  }

  &__action {
    &, &:hover, &:active, &:visited {
      color: #000000;
      text-decoration: none;
    }
  }

  &__transliteration {
    font-size: 1.75rem;
    font-weight: 400;
  }
}
