.home {
  margin: 0;
}

.home-nav {
  height: 100vh;

  &__item {
    display: block;
    text-align: center;
    font-size: 60vh;
    font-family: "Abril Fatface", serif;
    height: 50vh;
    overflow: hidden;
  }

  &__character {
    position: relative;
    top: 0;
    transition: top .5s ease;
  }

  &__item:hover &__character {
    top: -10vh;
  }
}
