$character-count: 6;
$nav-item-hover-height: 33.333vh;
$nav-item-color: #000000;
$nav-item-bg-color: #ffffff;

.home {
  margin: 0;
}

.home-nav {
  height: 100vh;

  &:hover &__item {
    height: ((100vh - $nav-item-hover-height) / ($character-count - 1));
  }

  &__item {
    display: block;
    text-align: center;
    font-size: 20vh;
    font-family: "Abril Fatface", serif;
    height: (100vh / $character-count);
    overflow: hidden;
    color: $nav-item-color;
    background-color: $nav-item-bg-color;
    transition-property: color, background-color, height, font-size;
    transition-duration: .5s;
    transition-timing-function: ease;

    &:hover {
      height: $nav-item-hover-height !important;
      font-size: 40vh;
    }
  }

  &__character {
    position: relative;
    top: 0;
    transition: top .5s ease;
  }

  &__item:hover &__character {
    top: -7.5vh;
  }
}
