.home {
  margin: 0;
}

.home-nav {
  height: 100vh;

  &__item {
    display: block;
    text-align: center;
    font-size: 40vh;
    font-family: "Abril Fatface", serif;
    height: 33.333vh;
    overflow: hidden;
  }

  &__character {
    position: relative;
    top: 2.5vh;
    transition: top .5s ease;
  }

  &__item:hover &__character {
    top: -7.5vh;
  }
}
