@mixin theme($font-primary, $font-secondary, $font-sans-serif, $color-primary, $color-secondary, $color-tertiary) {
  color: $color-secondary;
  font-family: $font-secondary;
  background-color: $color-tertiary;

  .main-character, .example__original, .tabs {
    font-family: $font-primary;
  }

  .example__character, .alphabet__character, .frequencies__letter--character {
    color: $color-primary;
  }

  .ipa, .alphabet, .keyboard__key, .frequencies__letter, .key, .example__action {
    font-family: $font-sans-serif;
  }

  .code, .keyboard__key, .key, .frequencies__bar, .example__action {
    border-color: $color-secondary;
  }

  /* balloon tooltip */
  .alphabet__character:after, .frequencies__bar:after, .frequencies__letter:after {
    font-family: $font-sans-serif !important;
    color: $color-tertiary;
  }

  .keyboard__character {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-tertiary;
  }

  .frequencies__bar {
    background-color: $color-secondary;
  }

  .frequencies__bar-container--character {
    .frequencies__bar {
      background-color: $color-primary;
    }

    .frequencies__bar-legend {
      color: $color-primary;
      font-weight: bold;
    }
  }

  .tabs-wrapper, .tabs {
    background-color: $color-secondary;
  }

  .tabs__link {
    color: $color-tertiary;
    background-color: $color-secondary;

    &--current::before {
      border-bottom-color: $color-tertiary;
    }
  }

  .example__action {
    color: $color-secondary;
  }
}
