@import "styles/link";
@import "styles/variables";

@mixin tabs($color-fg, $color-bg, $color-external-bg) {
  .tabs {
    font-family: $font-primary;
  }

  .tabs-wrapper, .tabs {
    background-color: $color-bg;
  }

  .tabs__link {
    color: $color-fg;
    background-color: $color-bg;

    &--current::before {
      border-bottom-color: $color-external-bg;
    }
  }
}

@mixin theme($color-primary, $color-secondary, $color-tertiary) {
  @include link($color-primary);

  color: $color-secondary;
  font-family: $font-secondary;
  background-color: $color-tertiary;

  .main-character, .example__original {
    font-family: $font-primary;
  }

  .example__character, .alphabet__character, .frequencies__letter--character, .footer__heart {
    color: $color-primary;
  }

  .ipa, .alphabet, .keyboard__key, .frequencies__letter, .key {
    font-family: $font-sans-serif;
  }

  .code, .keyboard__key, .key, .frequencies__bar {
    border-color: $color-secondary;
  }

  /* balloon tooltip */
  .alphabet__character:after, .frequencies__bar:after, .frequencies__letter:after {
    font-family: $font-sans-serif !important;
    color: $color-tertiary;
  }

  .keyboard__character {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-tertiary;
  }

  .frequencies__bar {
    background-color: $color-secondary;
  }

  .frequencies__bar-container--character {
    .frequencies__bar {
      background-color: $color-primary;
    }

    .frequencies__bar-legend {
      color: $color-primary;
      font-weight: bold;
    }
  }

  .example__action, .footer__link {
    color: $color-secondary;
  }
}

@mixin button($color-primary, $color-secondary, $color-default) {
  .btn {
    color: $color-default;
    border-color: $color-default;
    background-color: $color-secondary;
    transition-property: color, border-color, background-color;
    transition-duration: .333s;

    &:hover {
      color: $color-secondary;
      border-color: $color-primary;
      background-color: $color-primary;
    }
  }
}
