$enye-theme-color-primary: #c70218; // Spanish flag: red
$enye-theme-color-secondary: #000000;
$enye-theme-color-tertiary: #ffc501; // Spanish flag: yellow

.body--enye {
  @include theme($enye-theme-color-primary, $enye-theme-color-secondary, $enye-theme-color-tertiary);
}

.home-nav__item--enye {
  &:hover, &:active {
    color: $enye-theme-color-secondary;
    background-color: $enye-theme-color-tertiary;
  }
}
