$ce-cedilha-theme-color-primary: #fee000; // Brazil flag: yellow
$ce-cedilha-theme-color-secondary: #009c38; // Brazil flag: green
$ce-cedilha-theme-color-tertiary: #ffffff;
$ce-cedilha-fg: #000000;

.body--ce-cedilha {
  @include theme($ce-cedilha-theme-color-secondary, $ce-cedilha-fg, $ce-cedilha-theme-color-tertiary);
  @include tabs($ce-cedilha-theme-color-primary, $ce-cedilha-theme-color-secondary,
                $ce-cedilha-theme-color-tertiary);
}

.home-nav__item--ce-cedilha {
  &:hover, &:active {
    color: $ce-cedilha-theme-color-secondary;
    background-color: $ce-cedilha-theme-color-tertiary;
  }
}
