$eszett-theme-color-primary: #fedb00; // Bayern flag: yellow
$eszett-theme-color-secondary: #0097d4; // Bayern flag: blue
$eszett-theme-color-tertiary: #ffffff;
$eszett-fg: #000000;

.body--eszett {
  @include theme($eszett-theme-color-secondary, $eszett-fg, $eszett-theme-color-tertiary);
  @include tabs($eszett-theme-color-primary, $eszett-theme-color-secondary, $eszett-theme-color-tertiary);
  @include button($eszett-theme-color-secondary, $eszett-theme-color-tertiary, $eszett-fg);

  .keyboard__character {
    // ß is transformed to SS, we need to prevent it.
    text-transform: none;
  }
}

.home-nav__item--eszett {
  &:hover, &:active {
    color: $eszett-theme-color-secondary;
    background-color: $eszett-theme-color-tertiary;
  }
}
