$coming-soon-theme-color-primary: #aaaaaa;
$coming-soon-theme-color-secondary: #000000;
$coming-soon-theme-color-tertiary: #ffffff;

.body--coming-soon {
  @include theme($coming-soon-theme-color-primary, $coming-soon-theme-color-secondary,
                 $coming-soon-theme-color-tertiary);
}

.home-nav__item--coming-soon {
  color: $coming-soon-theme-color-secondary;
  background-color: $coming-soon-theme-color-tertiary;
}
