$e-dans-lo-theme-color-primary: #ee2436; // French flag: red
$e-dans-lo-theme-color-secondary: #001e96; // French flag: blue
$e-dans-lo-theme-color-tertiary: #ffffff;

.body--e-dans-lo {
  @include theme($e-dans-lo-theme-color-primary, $e-dans-lo-theme-color-secondary,
                 $e-dans-lo-theme-color-tertiary);
}

.home-nav__item--e-dans-lo {
  &:hover, &:active {
    color: $e-dans-lo-theme-color-secondary;
    background-color: $e-dans-lo-theme-color-tertiary;
  }
}
