$e-dans-lo-theme-color-primary: #ffd700; // Kindgom of France banner: yellow
$e-dans-lo-theme-color-secondary: #ffffff;
$e-dans-lo-theme-color-tertiary: #ee2436; // French flag: red

.body--e-dans-lo {
  @include theme($e-dans-lo-theme-color-primary, $e-dans-lo-theme-color-secondary,
                 $e-dans-lo-theme-color-tertiary);

  .keyboard__character {
    text-transform: none;
  }
}

.home-nav__item--e-dans-lo {
  color: $e-dans-lo-theme-color-secondary;
  background-color: $e-dans-lo-theme-color-tertiary;
}
