@import "mixins";
@import "home";
@import "character";

$key-size: 2.125em;

html {
  font-weight: 300;
  font-size: 12px;
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media (min-width: 641px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0 0 1em 0;
}

.container {
  width: 100%;
  padding: 0 1em;

  @media (min-width: 640px) {
    width: 600px;
    margin: 0 auto;
  }
}

.main-character, .example__original {
  font-weight: normal;
  margin: 0;
}

.main-character {
  font-size: 12em;
}

.intro, .example {
  margin-bottom: 2em;
}

.explanation, .example__translation {
  line-height: 1.5em;
  font-size: 1.5em;
}

.intro {
  text-align: justify;
}

.example {
  &__original {
    font-size: 4em;
    margin-bottom: .25em;
    word-wrap: break-word;
  }

  &__character {
    font-weight: normal;
  }

  &__translation {
    text-align: justify;
  }
}

.ipa {
  font-weight: normal;
}

.code-list {
  margin: 0 0 2.5em;
  padding-left: 0;
  list-style: none;
}

.code, .keyboard__key, .key {
  border-width: 1px;
  border-style: solid;
  border-radius: .25em;
}

.code, .keyboard__key {
  display: inline-block;
  margin: .125em;
}

.code, .key {
  font-size: 1.25em;
  padding: .125em .375em;
}

/* balloon tooltip */
.alphabet__character:after, .frequencies__bar:after, .frequencies__letter:after {
  font-size: .75em !important;
}

.alphabet, .keyboard__key {
  font-weight: normal;
}

.alphabet, .frequencies {
  width: 100%;
  table-layout: fixed;
}

.alphabet, .frequencies__letter {
  font-size: 1em;
}

@media (min-width: 480px) {
  .alphabet, .frequencies__letter {
    font-size: 1.25em;
  }
}

.alphabet {
  margin: .5em 0 4em;

  &__entry {
    text-align: center;
  }

  &__character {
    font-weight: normal;
  }
}

.keyboard {
  margin-bottom: 3em;

  &__row--1 {
    padding-left: 1.375em;
  }

  &__row--2 {
    padding-left: 2em;
  }

  &__row--3 {
    padding-left: 3.375em;
  }

  &__key {
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    font-size: 3.25vw;
    width: $key-size;
    height: $key-size;
    line-height: $key-size;

    @media (min-width: 641px) {
      font-size: 1.125em;
    }
  }
}

.frequencies {
  margin-bottom: 4em;
  font-weight: normal;

  &__bar-container, &__letter {
    text-align: center;
  }

  &__bar-container {
    vertical-align: bottom;
  }

  &__bar {
    width: .25em;
    margin: 0 auto;

    @media (min-width: 480px) {
      width: .375em;
    }

    @media (min-width: 641px) {
      width: .5em;
    }
  }
}

.key-shortcuts {
  margin-bottom: 3em;
}

.key {
  margin: 0 .125em;
}

@import "theme-enye";
@import "theme-eszett";
