@import "variables";

@mixin teaser($teaser-color-fg, $teaser-color-bg, $teaser-font-primary, $teaser-font-secondary) {
  margin: 2rem 0;
  padding: 2rem 0;
  color: $teaser-color-fg;
  background-color: $teaser-color-bg;
  background-image: url('../assets/images/t-shirt.jpg');
  background-position: -3rem center;
  background-repeat: no-repeat;
  background-size: auto 12rem;

  @media (min-width: $threshold-tablet) {
    background: $teaser-color-bg;
  }

  &__h1, &__h2 {
    margin: 0;
    display: inline;
    font-size: 2.5rem;

    @media (min-width: $threshold-tablet) {
      display: block;
    }
  }

  &__h1 {
    font-family: $teaser-font-primary;
    font-weight: 700;
  }

  &__h2 {
    font-family: $teaser-font-secondary;
    font-weight: 300;
  }

  &__text {
    padding-left: 10rem;

    @media (min-width: $threshold-tablet) {
      background-image: url('../assets/images/t-shirt.jpg');
      background-position: left center;
      background-repeat: no-repeat;
      background-size: auto 9rem;
      padding-left: 11rem;
    }
  }

  &__cta {
    margin-top: 1.5rem;
    display: inline-block;
  }

  .btn {
    border-color: $teaser-color-fg;

    &, &:hover, &:active, &:visited {
      color: $teaser-color-fg;
    }
  }
}

// Clearfix
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}
