.teaser {
  color: #ffffff;
  background-color: #000000;
  margin: 2rem 0;
  padding: 2rem 0;

  &__h1, &__h2 {
    margin: 0;
  }

  &__h1 {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 2.5rem;
  }

  &__h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 2rem;
  }

  &__image {
    width: 9rem;
    float: left;
  }

  &__text {
    padding-left: 11rem;
  }

  &__cta {
    margin-top: 1.5rem;
    display: inline-block;
  }

  .btn {
    text-transform: uppercase;

    &, &:hover, &:active, &:visited {
      color: #ffffff;
    }
  }
}

// Clearfix
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}
