$tshirt-bg: #ffffff;
$tshirt-word-main-fg: #000000;
$tshirt-word-fg: #cccccc;
$tshirt-image-size: 135vmin;

$t-shirt-border: .09375rem solid $tshirt-word-main-fg;
$tshirt-desenrascanco-highlight: #ff0000; // Portuguese flag: red
$tshirt-enye-highlight: #c70218; // Spanish flag: red

.tshirt {
  font-size: 5vmin;
  height: $tshirt-image-size;
  background-color: $tshirt-bg;
  background-image: url('../assets/images/t-shirt-transparent.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto $tshirt-image-size;

  &__container {
    position: relative;
    top: 8.5em;
    width: 10em;
    height: 10em;
    margin: 0 auto;
    border: 1px dashed transparent;

    &:hover {
      border-color: $tshirt-word-fg;

      .word {
        &__translation, &__transliteration, &__title, &__row-two, &__meaning, &__footer {
          background: rgba(0, 0, 0, .05);
        }
      }
    }
  }

  &--chocolate {
    .word {
      position: absolute;
      color: $tshirt-word-fg;

      &__translation, &__transliteration, &__language {
        margin: 0;
      }

      &__translation, &__transliteration {
        font-family: "Noto Serif", serif;
      }

      &__translation {
        font-size: 1em;
        font-weight: 700;
        line-height: 1.125em;
      }

      &__transliteration {
        font-size: .75em;
        font-weight: 300;
        line-height: 1.5em;
      }

      &__language {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: .5em;
        text-transform: uppercase;

        &--emphasis {
          font-weight: 400;
        }
      }

      &--main {
        font-size: 1rem;
        top: 4.375rem;
        left: 1.75rem;
        text-align: center;
        color: $tshirt-word-main-fg;

        .word__translation {
          line-height: 1em;
        }
      }

      &--zh, &--ja, &--ko {
        .word__translation {
          font-family: sans-serif;
        }
      }
    }
  }

  &--mixed {
    .word {
      &--es {
        font-size: .5rem;
        top: 6.25rem;
        left: 7.25rem;
      }

      &--en {
        font-size: .375rem;
        transform: rotate(-90deg);
        top: 3.5rem;
        left: 1.25rem;
      }

      &--de {
        font-size: .4375rem;
        transform: rotate(90deg);
        top: 7.25rem;
        left: 5.25rem;
      }

      &--it {
        font-size: .375rem;
        top: 3.5rem;
        left: 6.75rem;
      }

      &--tr {
        font-size: .4375rem;
        top: 4.25rem;
        left: 7.75rem;
      }

      &--ja {
        font-size: .5625rem;
        top: 6.25rem;
        left: .25rem;
      }

      &--ru {
        font-size: .5rem;
        top: 2.75rem;
        left: 4rem;
      }

      &--is {
        font-size: .5rem;
        transform: rotate(90deg);
        top: 2.25rem;
        left: 1.75rem;
      }

      &--el {
        font-size: .375rem;
        transform: rotate(-90deg);
        top: 1.75rem;
        left: 6.5rem;
      }

      &--ko {
        font-size: .4375rem;
        top: .25rem;
        left: 5rem;
      }

      &--da {
        font-size: .25rem;
        top: 8rem;
        left: 4.5rem;
      }

      &--cs {
        font-size: .3125rem;
        transform: rotate(-90deg);
        top: 7.75rem;
        left: 8.75rem;
      }

      &--fi {
        font-size: .375rem;
        top: 7.5rem;
        left: 7.5rem;
      }

      &--pt {
        font-size: .375rem;
        transform: rotate(-90deg);
        top: 8.5rem;
        left: 2.75rem;
      }

      &--fr {
        font-size: .3125rem;
        transform: rotate(-90deg);
        top: 3.25rem;
        left: .5rem;
      }

      &--ar {
        font-size: .4375rem;
        transform: rotate(90deg);
        top: 1.75rem;
        left: 8rem;
      }

      &--zh {
        font-size: .5rem;
        top: 8.5rem;
        left: 7.25rem;
      }

      &--pl {
        font-size: .4375rem;
        top: 8rem;
        left: .75rem;
      }

      &--ca {
        font-size: .375rem;
        top: 1.75rem;
        left: .5rem;
      }

      &--ro {
        font-size: .375rem;
        top: 9rem;
        left: 4.5rem;
      }

      &--eu {
        font-size: .4375rem;
        top: .25rem;
        left: 7.5rem;
      }

      &--hu {
        font-size: .375rem;
        top: 1.75rem;
        left: 4.75rem;
      }

      &--th {
        font-size: .375rem;
        top: 6.5rem;
        left: 4rem;
      }

      &--vi {
        font-size: .375rem;
        top: 9rem;
        left: 1.25rem;
      }

      &--cy {
        font-size: .3125rem;
        top: 4.5rem;
        left: .25rem;
      }

      &--ga {
        font-size: .3125rem;
        transform: rotate(-90deg);
        top: 1.5rem;
        left: 3.5rem;
      }

      &--sr {
        font-size: .4375rem;
        top: 0rem;
        left: 1rem;
      }
    }
  }

  &--caracteres {
    .tshirt__container {
      top: 8em;
    }

    .word {
      display: flex;
      flex-flow: column nowrap;

      &__title, &__row-two, &__meaning {
        margin: 0;
      }

      &__title, &__highlight {
        font-weight: normal;
      }

      &__title {
        font-family: "Abril Fatface";
        text-align: center;
        border-top: $t-shirt-border;
        padding-top: .75rem;
        line-height: .875em;
      }

      &__row-two {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-top: .75rem;
        font-size: .5rem;
        font-weight: 400;
      }

      &__pronunciation {
        font-family: sans-serif;
      }

      &__language {
        float: right;
      }

      &__meaning, &__language, &__footer {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
      }

      &__meaning, &__footer {
        font-size: .4375rem;
      }

      &__meaning {
        border-bottom: $t-shirt-border;
        margin-top: .375rem;
        padding-bottom: .75rem;
      }

      &__footer {
        margin-top: 1rem;
      }

      &__link {
        float: right;
        color: $tshirt-word-main-fg;
      }
    }
  }

  &--desenrascanco {
    .word {
      &__title {
        font-size: 1.45rem;
      }

      &__highlight {
        color: $tshirt-desenrascanco-highlight;
      }
    }
  }

  &--nanaras {
    .word {
      &__title {
        font-size: 2.6rem;
      }

      &__highlight {
        color: $tshirt-enye-highlight;
      }
    }
  }
}
