.tshirt {
  font-size: 10vmin;

  &__container {
    width: 100vmin;
    height: 100vmin;
    border: 1px dashed #dddddd;
  }

  &--chocolate {
    .word {
      font-size: .5rem;
      position: absolute;
      color: #cccccc;

      &__translation, &__transliteration, &__language {
        margin: 0;
      }

      &__translation, &__transliteration {
        font-family: "Noto Serif", serif;
      }

      &__translation {
        font-size: 1em;
        font-weight: 700;
      }

      &__transliteration {
        font-size: .75em;
        font-weight: 300;
      }

      &__language {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: .5em;
        color: #cccccc;
        text-transform: uppercase;

        &--emphasis {
          font-weight: 400;
          color: #000000;
        }
      }

      &--main {
        font-size: 1rem;
        top: 4rem;
        left: 1.75rem;
        text-align: center;
        color: #000000;

        .word__language {
          color: #999999;
        }
      }

      &--es {
        top: 6rem;
        left: 6.75rem;
      }

      &--en {
        font-size: .375rem;
        transform: rotate(-90deg);
        top: 3.75rem;
        left: 1.5rem;
      }

      &--de {
        font-size: .4375rem;
        transform: rotate(90deg);
        top: 7rem;
        left: 4.75rem;
      }

      &--it {
        font-size: .3125rem;
        top: 3.5rem;
        left: 6.5rem;
      }

      &--tr {
        font-size: .4375rem;
        top: 4.25rem;
        left: 7.5rem;
      }

      &--ja {
        font-size: 0.5625rem;
        top: 6rem;
        left: 1.75rem;
      }

      &--ru {
        font-size: 0.5rem;
        top: 2.5rem;
        left: 4.25rem;
      }

      &--is {
        font-size: 0.5rem;
        transform: rotate(90deg);
        top: 2.25rem;
        left: 1.75rem;
      }

      &--el {
        font-size: 0.375rem;
        transform: rotate(-90deg);
        top: 1.75rem;
        left: 6.5rem;
      }

      &--ko {
        font-size: 0.375rem;
        top: 0.75rem;
        left: 3.75rem;
      }

      &--da {
        font-size: 0.25rem;
        top: 7.5rem;
        left: 4.25rem;
      }

      &--cs {
        font-size: 0.3125rem;
        transform: rotate(-90deg);
        top: 7.25rem;
        left: 8.5rem;
      }

      &--fi {
        font-size: 0.375rem;
        top: 7.25rem;
        left: 7.25rem;
      }

      &--pt {
        font-size: 0.4375rem;
        transform: rotate(-90deg);
        top: 8.25rem;
        left: 2.5rem;
      }

      &--fr {
        font-size: .3125rem;
        top: 4.75rem;
        left: 0.5rem;
      }

      &--ar {
        font-size: .4375rem;
        transform: rotate(90deg);
        top: 2.5rem;
        left: 8.25rem;
      }

      &--zh {
        font-size: 0.5rem;
        top: 8.25rem;
        left: 6.75rem;
      }

      &--pl {
        font-size: 0.4375rem;
        top: 8rem;
        left: 0.5rem;
      }

      &--ca {
        font-size: .375rem;
        top: 2.5rem;
        left: 0.5rem;
      }

      &--ro {
        font-size: 0.375rem;
        top: 9rem;
        left: 4.5rem;
      }

      &--eu {
        font-size: .4375rem;
        top: .75rem;
        left: 7.5rem;
      }

      &--hu {
        font-size: .375rem;
        top: 1.75rem;
        left: 4.75rem;
      }
    }
  }
}
