@import "variables";

$character-width: 6rem;
$character-height: $character-width * 4/3;

.character {
  font-family: "Roboto", sans-serif;

  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: $character-width;
    height: $character-height;
    margin: auto;
    padding: .375rem;
    border: .125rem solid #000000;
    border-top-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
  }

  &__header, &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    align-items: start;
  }

  &__main {
    text-align: center;
  }

  &__symbol {
    font-family: "Abril Fatface";
    font-size: 4rem;
    font-weight: normal;
    line-height: .875em;
    margin: 0;
  }

  &__name {
    font-size: .875rem;
    font-weight: 300;
    margin: 0;
  }

  &__data {
    font-size: .5rem;
  }

  &__order {
    font-size: .75rem;
  }

  &__order-suffix {
    vertical-align: text-top;
    font-size: .5rem;
  }

  &__about {
    width: $character-width;
    margin: .25rem auto 0;
    font-size: .5rem;
    text-align: right;
    color: $blue-grey-200;
  }

  &__wrapper, &__symbol, &__name {
    transition-property: color, border-color, background-color;
    transition-duration: .333s;
  }
}
