.tshirt {
  font-size: 10vmin;

  &__container {
    width: 100vmin;
    height: 100vmin;
    border: 1px dashed #dddddd;

    &:hover {
      .word {
        &__translation, &__transliteration, &__language {
          background: rgba(0, 0, 0, .05);
        }
      }
    }
  }

  &--chocolate {
    .word {
      font-size: .5rem;
      position: absolute;
      color: #dddddd;

      &__translation, &__transliteration, &__language {
        margin: 0;
      }

      &__translation, &__transliteration {
        font-family: "Noto Serif", serif;
      }

      &__translation {
        font-size: 1em;
        font-weight: 700;
        line-height: 1.125em;
      }

      &__transliteration {
        font-size: .75em;
        font-weight: 300;
        line-height: 1.5em;
      }

      &__language {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: .5em;
        text-transform: uppercase;

        &--emphasis {
          font-weight: 400;
        }
      }

      &--main {
        font-size: 1rem;
        top: 4.375rem;
        left: 1.75rem;
        text-align: center;
        color: #000000;

        .word__translation {
          line-height: 1em;
        }
      }

      &--zh, &--ja, &--ko {
        .word__translation {
          font-family: sans-serif;
        }
      }
    }
  }

  &--mixed {
    .word {
      &--es {
        top: 6.25rem;
        left: 7.25rem;
      }

      &--en {
        font-size: .375rem;
        transform: rotate(-90deg);
        top: 3.5rem;
        left: 1.25rem;
      }

      &--de {
        font-size: .4375rem;
        transform: rotate(90deg);
        top: 7.25rem;
        left: 5.25rem;
      }

      &--it {
        font-size: .375rem;
        top: 3.5rem;
        left: 6.75rem;
      }

      &--tr {
        font-size: .4375rem;
        top: 4.25rem;
        left: 7.75rem;
      }

      &--ja {
        font-size: .5625rem;
        top: 6.25rem;
        left: .25rem;
      }

      &--ru {
        font-size: .5rem;
        top: 2.75rem;
        left: 4rem;
      }

      &--is {
        font-size: .5rem;
        transform: rotate(90deg);
        top: 2.25rem;
        left: 1.75rem;
      }

      &--el {
        font-size: .375rem;
        transform: rotate(-90deg);
        top: 1.75rem;
        left: 6.5rem;
      }

      &--ko {
        font-size: .4375rem;
        top: .25rem;
        left: 5rem;
      }

      &--da {
        font-size: .25rem;
        top: 8rem;
        left: 4.5rem;
      }

      &--cs {
        font-size: .3125rem;
        transform: rotate(-90deg);
        top: 7.75rem;
        left: 8.75rem;
      }

      &--fi {
        font-size: .375rem;
        top: 7.5rem;
        left: 7.25rem;
      }

      &--pt {
        font-size: .375rem;
        transform: rotate(-90deg);
        top: 8.5rem;
        left: 2.75rem;
      }

      &--fr {
        font-size: .3125rem;
        transform: rotate(-90deg);
        top: 3.25rem;
        left: .5rem;
      }

      &--ar {
        font-size: .4375rem;
        transform: rotate(90deg);
        top: 1.75rem;
        left: 8rem;
      }

      &--zh {
        font-size: .5rem;
        top: 8.5rem;
        left: 7.25rem;
      }

      &--pl {
        font-size: .4375rem;
        top: 8rem;
        left: .75rem;
      }

      &--ca {
        font-size: .375rem;
        top: 1.75rem;
        left: .5rem;
      }

      &--ro {
        font-size: .375rem;
        top: 9rem;
        left: 4.5rem;
      }

      &--eu {
        font-size: .4375rem;
        top: .25rem;
        left: 7.5rem;
      }

      &--hu {
        font-size: .375rem;
        top: 2rem;
        left: 4.75rem;
      }

      &--th {
        font-size: .375rem;
        top: 6.5rem;
        left: 4rem;
      }

      &--vi {
        font-size: .375rem;
        top: 9rem;
        left: 1.25rem;
      }

      &--cy {
        font-size: .3125rem;
        top: 4.5rem;
        left: .25rem;
      }

      &--ga {
        font-size: .3125rem;
        transform: rotate(-90deg);
        top: 1.5rem;
        left: 3.5rem;
      }

      &--sr {
        font-size: .4375rem;
        top: .25rem;
        left: .5rem;
      }
    }
  }
}
