$threshold-mobile-wide: 480px;
$threshold-tablet: 640px;
$threshold-desktop: 960px;

$blue-grey-200: #b0bec5;

$font-sans-serif: "Helvetica Neue", "Helvetica", sans-serif;
$font-primary: "Abril Fatface", serif;
$font-secondary: "Roboto", $font-sans-serif;
