$threshold-mobile-wide: 480px;
$threshold-tablet: 640px;
$threshold-desktop: 960px;

$blue-grey-200: #b0bec5;

$font-sans-serif: "Helvetica Neue", "Helvetica", sans-serif;
$font-primary: "Abril Fatface", serif;
$font-secondary: "Roboto", $font-sans-serif;

$high-contrast-theme-color-primary: #aaaaaa;
$high-contrast-theme-color-secondary: #000000;
$high-contrast-theme-color-tertiary: #ffffff;

$teaser-color-fg: #ffffff;
$teaser-color-bg: #000000;
$teaser-font-primary: "Abril Fatface", serif;
$teaser-font-secondary: "Roboto", sans-serif;
